body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  padding: 20px;
  background-image: linear-gradient(to bottom, #1f2326, #192c3b);
  color: #fff;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}
nav ul li a:hover {
  color: #fe5000;
  font-size: 25px;
  text-decoration: none;
}

.hero {
  padding: 100px;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

#features {
  padding: 100px;
  background-color: #e9e9e9;
  text-align: center;
}

#features h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#features ul {
  font-size: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#features ul li {
  margin-bottom: 10px;
}

#about {
  padding: 200px;
  text-align: center;
  color: white;
  background-color: #1f2326;
  background-size: cover;
  background-position: center;
}

#about h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#about p {
  font-size: 30px;
  margin-bottom: 40px;
}

#services {
  padding: 100px;
  background-color: #e9e9e9;
  text-align: center;
}

#services h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#services ul {
  font-size: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#services ul li {
  margin-bottom: 10px;
}

#portfolio {
  padding: 200px;
  text-align: center;
  color: white;
  background-color: #1f2326;
  background-size: cover;
  background-position: center;
}

#portfolio h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
}

#portfolio p {
  font-size: 30px;
  margin-bottom: 40px;
}

#portfolio ul {
  color: white;
  font-size: 25px;
  list-style-type: none;
}
#portfolio ul a {
  text-decoration: none;
  color: #fe5000;
}

#portfolio ul a:hover {
  text-decoration: none;
  color: #d969a9;
}

#team {
  padding: 100px;
  background-color: #e9e9e9;
  text-align: center;
}

#team h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#team p {
  font-size: 30px;
  margin-bottom: 40px;
}

#team ul {
  font-size: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#team ul li {
  margin-bottom: 10px;
}

#contact {
  padding: 200px;
  text-align: center;
  color: #fff;
  background-color: #1f2326;
  background-size: cover;
  background-position: center;
}

#contact h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#contact p {
  font-size: 30px;
  margin-bottom: 40px;
}

#contact ul {
  font-size: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#contact ul li {
  margin-bottom: 10px;
}

footer {
  padding: 20px;
  font-size: 20px;
  background-color: #1f2326;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 0;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.interactive-button {
  font-size: 25px;
  text-decoration: none;
  background-color: #fe5000;
  color: #fff;
  padding: 20px 40px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.interactive-button:hover {
  background-color: #fff;
  color: #fe5000;
}
